{% extends 'base.html' %}

{% block content %}
<h1>NEW</h1>
<hr>
<form action="{% url 'movies:create' %}" method="GET">
  <label for="title">TITLE: </label>
  <input type="text" name="title"><br>
  <label for="audience">AUDIENCE: </label>
  <input type="number" name="audience"><br>
  <label for="release_date">RELEASE_DATE: </label>
  <input type="date" name="release_date"><br>
  <label for="genre">GENRE: </label>
    <select name="genre" >
      {% for genre in genres %}
        <option value= {{genre}}>{{genre}} </option>
      {% endfor %}
    </select><br>
  <label for="score">SCORE: </label>
  <input type="number" step="0.1" min="0" max="10" name="score"><br>
  <label for="poster_url">POSTER_URL: </label>
  <input type="url" name="poster_url"><br>
  <label for="description">DESCRIPTION: </label>
  <input type="text" name="description"><br>
  <input type="submit">
</form>
<hr>
<a href="{% url 'movies:index' %}">BACK</a>
{% endblock content %}