<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>first</title>
</head>
<body>
  <h3> catch : {% if message %} {{message}}을/를 받음! {% else %} 아무것도 받지 못함 {% endif %} </h3>
  <form action="../first/" method="GET">
    <label for="message">throw: </label>
    <input type="text" id="message" name="message">
    <input type="submit" value="휙">
  </form>

</body>
</html>