<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YamYam</title>
</head>
<body>
  <h1>저녁 메뉴 고르기</h1>
  <p>{{ pick }}은 {{ pick | length }}글자</p>
  <p>{{ foods | join:', ' }}</p>
  <hr>
  <p>메뉴판</p>
  <ul>
    {% for food in foods %}
    <li> {{ food }} </il>
    {% endfor %}
    
    {% comment %}
    이거슨주석
    {% endcomment %}
    
  </ul>
  
</body>
</html>